<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dojo to</title>
	<link type="text/css" rel="stylesheet" href="/static/css/grid.css"media="screen"/>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen" />
	<link href="http://fonts.googleapis.com/css?family=Andika" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/dom.js"></script>
</head>
<body>

<div class="row logo">
	<a href="/"><span>Dojo To</span></a>
</div>

<div class="row">
	<div class="column grid_12">
		<ul class="menu">
			<li><a href="/" title="" class="active">Home</a></li>
			<li><a href="/about" title="">About</a></li>
		</ul>
	</div>
</div>

{% block content %}
{% end content %}

<div class="row">
	<div class="column grid_12 footer">
		<p class="left">&copy;2011 gUTO.nET. All Rights reserved.</p>
		<p class="right"><a href="/privacy" title="Privacy Policy">Privacy Policy</a> | <a href="/terms" title="Terms of Service">Terms of Service</a> | <a href="/support" title="Support">Support</a> | <a href="/contact" title="Contact">Contact</a></p>
	</div>
</div>

</body>
</html>
