<div class="content">
	<div class="vevent">
		<abbr class="dtstart" title="2011-10-27T19:00-02:0000">October 27, 2011 7</abbr> – 
		<abbr class="dtend" title="2011-10-27T22:00-02:00">10pm</abbr> :  
		<span class="summary">Dojo</span> at 
		<span class="location">	{{ dojo.location }}, {{ dojo.city }}</span>
		<div class="description">{{ dojo.address }}</div>
		<div class="tags">
			Tags: <a rel="tag" href="/learn/{{ dojo.language }}">#{{ dojo.language }}</a>
		</div>
		Mais 	{{ dojo.id }}
		vagas
	</div>
</div>