<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script>
			if (location.pathname != '/'){
				window.location = '/#!' + location.pathname;
			}
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Dojo to</title>
		<link type="text/css" rel="stylesheet" href="/static/css/grid_desktop.css" media='screen and (min-width: 960px)' />
		<link type="text/css" rel="stylesheet" href="/static/css/menu.css" media='screen and (min-width: 960px)' />

		<link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen" />
		<link href="http://fonts.googleapis.com/css?family=Andika" rel="stylesheet" type="text/css" />
		<!--<noscript> -->
		<!--<meta http-equiv=refresh content="0; URL=/?_dojo_noscript=1" />-->
		<!--</noscript> -->
	</head>
<body>

<div class="top">
	<div class="row">
		<div class="column grid_4">
		{% if logged_user %}
			<a href="/start">start a dojo</a>
		{% end %}

		</div>
		
		<div class="column grid_6">
			&nbsp;
			<div class="mainmenu">
				<ul class="menu">
				<li class="list">
					<a class="category" href="/">Home</a>
				</li>
				</ul>
				<ul class="menu">
				<li class="list">
					<a class="category" href="/dojos">Dojos</a>
					<ul class="submenu">
						<li><a href="learn/python">Python</a></li>
						<li><a href="learn/java">Java</a></li>
						<li><a href="learn/php">PHP</a></li>
				        <li><a href="learn/ruby">Ruby</a></li>
				        <li><a href="learn/LISP">LISP</a></li>
					</ul>
				</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="column grid_4">
		{% if logged_user %}
			<h1>{{ logged_user['username'] }}</h1>
			<a href="/logout"><span>Logout</span></a>
		{% else %}
			<a href="/login/twitter"><span>Login with twitter</span></a>
		{% end %}
	</div>
</div>

<noscript>
	<div class="row">
			<iframe class="column grid_6" id="crapContainer1" src="/timeline?_framed=1">
				<p>Your browser does not support iframes.</p>
			</iframe>
		<div class="column grid_6">
			<iframe id="crapContainer2">
			</iframe>
		</div>
	</div>
</noscript>

<div class="row">
	<div id="container1" class="column grid_6">{% raw content1 %}</div>
	<div id="container2" class="column grid_6">{% raw content2 %}</div>
</div>

<div id="footer" class="row">
	<div class="column grid_12 footer">
		<p class="left">&copy;2011 gUTO.nET. All Rights reserved.</p>
	</div>
</div>

<script type="text/javascript" src="/static/js/dom.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>
<script type="text/javascript" src="/static/js/path.js"></script>
<script type="text/javascript" src="/static/js/linker.js"></script>
<script type="text/javascript">

	function ajaxCallback (content, headers, context, xhr){
		var container = 'container'+context.container;
		var div = document.getElementById(container);
		div.innerHTML = linker(content);
	};

	Path.map("#!/dojo/:id").to(function(){
		var id = this.params["id"];
		var context = {'container':2};
		ajax.callServer('/dojo/'+id, ajaxCallback, context, 'GET', null, null, {'Accept':'ajax/html'});
	});

	Path.map("#!/learn/:language").to(function(){
		var language = this.params["language"];
		var context = {'container':2};
		ajax.callServer('/learn/'+language, ajaxCallback, context, 'GET', null, null, {'Accept':'ajax/html'});
	});

	Path.map("#!/timeline").to(function(){
		var context = {'container':2};
		ajax.callServer('/timeline', ajaxCallback, context, 'GET', null, null, {'Accept':'ajax/html'});
	});

	Path.listen();

	if (location.pathname == '/' && location.hash == "") {
		var context1 = {'container':1};
		ajax.callServer('/timeline', ajaxCallback, context1, 'GET', null, null, {'Accept':'ajax/html'});
		var context2 = {'container':2};
		ajax.callServer('/dojos', ajaxCallback, context2, 'GET', null, null, {'Accept':'ajax/html'});

	};

	function getCookie(name) {
		var i,x,y, cookies=document.cookie.split(";");
		for (i=0;i<cookies.length;i++) {
			x=cookies[i].substr(0,cookies[i].indexOf("="));
			y=cookies[i].substr(cookies[i].indexOf("=")+1);
			x=x.replace(/^\s+|\s+$/g,"");
			if (x==name) return unescape(y);
		}
		return null
	};

	function isUserLogged(){
		return (getCookie('user') != null);
	};
</script>
</body>
</html>
