{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="content column grid_6">
        <h1>Next Dojos</h1>
        <ul>
            {% for dojo in dojos %}
            <li>{{dojo.language}}, {{ dojo.location}}, {{dojo.city}}</li>
            {% end %}
        </ul>
        <h1>Timeline</h1>
	    <ul class="timeline">
		{% for participant in participants %}
	    	<li>
	    		{% if participant.twitter_display_icon %}
	    			<img src="{{participant.twitter_display_icon}}" align="left" />
	    		{% else %}
	    			<img src="/static/img/none.png" align="left" />
	    		{% end %}
				<p><a href="/user/{{participant.username}}">{{ participant.username }}</a> will practice <a href="/learn/{{participant.language}}">{{ participant.language }}</a> at {{participant.location}} in <a>{{ escape(participant.city) }}</a> <a href="#">mais &raquo;</a></p>
		{% end %}
	    </ul>
	</div>


	{% if logged_user %}
	<div class="content column grid_6">
		<h1>Teste</h1>
		<p>Pellentesque et tellus ac eros tempus luctus. Maecenas non elit dolor, a ultrices elit. Ut bibendum tincidunt ultricies. Aliquam eleifend diam id massa lobortis et bibendum enim pretium. </p>
        <h1>Teste</h1>
        <ul class="categories">
        	<li><a href="#">Lorem ipsum &raquo;</a></li>
            <li><a href="#">Dolor sit &raquo;</a></li>
            <li><a href="#">Tellus tempus &raquo;</a></li>
            <li><a href="#">Lorem ipsum &raquo;</a></li>
            <li><a href="#">Dolor sit &raquo;</a></li>
            <li><a href="#">Tellus tempus &raquo;</a></li>
        </ul>
        <h1>Friends</h1>
        <ul class="thumbs">
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        	<li><img src="http://a2.twimg.com/profile_images/652584720/avatar_mini.jpg" width="26" /></li>
        </ul>
	</div>
	{% end %}
</div>
{% end %}