<div class="content">
    {% if participants %}
        <h1>Timeline</h1>

        {% if logged_user %}
        	<ul>
        		<li><a href="/timeline">Public</a></li>
        		<li><a href="/timeline/of_friends">Friends</a></li>
        	</ul>
        {% end %}

	    <ul class="timeline">
		{% for participant in participants %}
	    	<li>
	    		{% if participant.twitter_display_icon %}
	    			<img src="{{participant.twitter_display_icon}}" align="left" />
	    		{% else %}
	    			<img src="/static/img/none.png" align="left" />
	    		{% end %}
				<p><a href="/user/{{participant.username}}">{{ participant.username }}</a> will practice <a href="/learn/{{participant.language}}">{{ participant.language }}</a> at {{participant.location}} in <a href="/go_in/{{ participant.city }}">{{ escape(participant.city) }}</a></p><a href="/dojo/{{ participant.dojo_id }}">more &raquo;</a>
            </li>
		{% end %}
        </ul>
    {% else %}
    	Be the first to sign in
    {% end %}
</div>